@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
.mainDivHome {
    background-image: url(../assets/images/Medieval_quest2.png) ;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 85%;
}
/* .divSword {
  position: absolute;
  top: 0px;
  left: 0px;
} */
.titleHome {
    font-size: 54px;
    font-family: 'Eagle Lake', cursive;
    color: white;
    text-align: center;
    padding: 230px 0px 20px 0px;
    filter: drop-shadow(0px 0px 15px #000);
    margin: 0px;

}

.divDesc {
    width: 30%;
    margin: auto;
}

.descHome {
    font-size: 16px;
    font-family: 'Eagle Lake', cursive;
    color: white;
    text-align: center;
    filter: drop-shadow(0px 0px 15px #000);
}

/***** ROCK *****/
.rock {
  position: absolute;
  height: 150px;
  bottom: 0px;
  left: 0px;
}

/***** SWORD *****/

.swordAnimation {
  height: 300px;
  position: absolute;
  top: -100%;
  left: 0px;
  animation-delay: 3s;
  animation-duration: 0.5s;
  animation-name: crawl;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes crawl {
  0% {
      top: 100%;
      opacity: 1;
  }

  80% {
      opacity: 1;
  }

  100% {
      top: 0;
      opacity: 1;
  }
}

@keyframes crawl {
  0% {
      top: -100px;
      transform: rotateX(26deg) translateZ(0);
  }

  100% {
      top: 0px;
      transform: rotateX(25deg) translateZ(-960px);
  }
}

/***** BOUGIE *****/
/* .container{
    top: 200px;
    left: 717px;
    margin:80px auto;
    width: 60px;
    height: 60px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  } */
  /* .container2{
    top: 250px;
    left: 230px;
    margin:80px auto;
    width: 60px;
    height: 60px;
    position:absolute;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .flame{
    bottom:0;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
  }
  
  .yellow{
    left:15px; 
    width: 10px;
    height: 10px;
    background:gold;
    box-shadow: 0px 0px 9px 4px gold;
  }
  
  .orange{
    left:10px; 
    width: 20px;
    height: 20px;
    background:orange;
    box-shadow: 0px 0px 9px 4px orange;
  }
  
  .red{
    left:5px;
    width: 30px;
    height: 30px;
    background:OrangeRed;
    box-shadow: 0px 0px 5px 4px OrangeRed;
  }
  
  .white{
    left:15px; 
    bottom:-4px;
    width: 10px;
    height: 10px;
    background:white;
    box-shadow: 0px 0px 9px 4px white;
  }
  
  .circle{
    border-radius: 50%;
    position:absolute;  
  }
   */
  
  @keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
  }
