.bodyKnights{
    background-image: url(../assets/images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: -10px;
    position: relative;
    width: 85%;
}

.knightTitle{
    color: #64172A;
    text-shadow: 4px 2px 3px rgba(33,14,9,0.61);
    font-size: 7vh;
    margin: 0px;
}

.descriptionText{
    color: white;
    text-shadow: 4px 2px 3px rgba(33,14,9,0.61);
}

.una{
    max-width: 500px;
    margin-top : 20px;
    color: #64172A;
    background-color: #64172A;
    height : 2px;
}

.newKnight {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: rgba(189, 50, 35, 0.68);
    max-width: 400px;
    min-width: 280px;
    padding: 10px;
}

.newKnight:hover{
    background-color: rgba(81, 25, 19, 0.68);
    cursor: pointer;
}

.newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsContainer {
    display: flex;
    justify-content: center;
    margin: 70px;
}

.iconePlus{
    scale: 2;
    width: 10%;
}

.listKnights{
    display : flex;
    flex-wrap: wrap;
    /* width: 85%; */
}