
.QC-container {
    /* background-image: url(../assets/images/quest.jpg);
    position: relative;
    width: 85%;
    background-color: black;
    background-size: cover;
    background-attachment: fixed; */
    /* margin: 50px; */
    display : flex;
    flex-wrap: wrap;
    /* width: 85%; */
    justify-content: center;
padding-top: 20px;
text-decoration: none;
margin: 10px;
}

.questBody{
    background-image: url(../assets/images/quest.jpg);
    position: relative;
    width: 85%;
    background-size: cover;
    background-attachment: fixed ;
}

