.Div-BtnLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25%;
}

#Btn-login,
#Btn-account,
#Btn-deco{
    color: black;
    text-decoration:none;
    background: url('../assets/images/parchemin_button.png') no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 4vh;
    width: 8vw;
    padding: 17px;
    border-radius: 11px;
}
