@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

.mainDivKnightCard {
    border-image: url('//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/frame.png') 93 92 87 92 stretch stretch; 
    border-color: #f4be52;
    border-style: inset;
    border-width: 30px;
    display: block;
    width: 120px;
    height: 180px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    margin: 20px
  }
  
  .imgCard {
    width: 100px;
    margin-top: 10px;

  }
  .nameKnightCard {
    color: white;
    font-family: 'Eagle Lake', cursive;
    font-size: 18px;
    margin: 10px 0px;
  }
  
  /***** GOLD *****/
.gold {

    background: linear-gradient(#d4c199 0%, #7f673d 10%, #cfc09f 40%, #ffecb3 50%, #755a23 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold
    
    }
    
    .gold::before {
    
    content: attr(data-gold);
    left: 5px;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
    -1px 0 1px #c6bb9f, 
    0 1px 1px #c6bb9f, 
    5px 5px 10px rgba(0, 0, 0, 0.4), 
    -5px -5px 10px rgba(0, 0, 0, 0.4);
    
    }
    /*------------*/
  @media all and (max-width: 500px) {
    img.frame { 
      border-width: 0px;
      width: 100%; }
  }