.QC-all {
    height: 60vh;
}
.mainDivCard {
    
    height: 500px;

}
.QC-picture {
    height: 30vh;
    border-radius: 50%;
    border: 3px solid rgb(151, 30, 30);
}

.QC-title {
    color: white;
    size: 20px;
    padding: 60px 0 100px 0;

}

.QC-description {
    color: white;
    padding: 60px 0 20px 0;
}

.openModalBtn {
    border-radius: 10px;
    color: red;
    padding: 5px;

}